@{
    ViewData["Title"] = "Yönetim Kurulu";
    ViewData["Description"] = "Yazgelder - Yazılım Geliştiricileri Derneği - " + ViewData["Title"];
    ViewData["Date"] = (DateTime.Now.ToString("s")) + "+0300";
    ViewData["image"] = "https://www.yazgelder.org/Images/ShareImage.png";
    ViewData["image:width"] = "1200";
    ViewData["image:height"] = "627";
}
@section Haders{

}

<section id="sub-header-3" data-speed="8" data-type="background" class="padding-top-bottom subheader" style="background-position: 50% 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="breadcrumbs-outer">
                <ul class="breadcrumbs">
                    <li><a href="/" title="Yazılım Geliştiricileri Derneği">Ana Sayfa</a></li>
                    <li><a href="/AboutUs" title="Yazılım Geliştiricileri Derneği Hakkımızda sayfası">Hakkımızda</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<div id="content" class="no-padding">


    <section id="section-team" class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Yönetim Kurulumuz</h2>
                        <div class="tiny-border"></div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="team-box">
                        <div class="team-inner">
                            <img src="/Images/AbdusselamKosecik.jpg" alt="Abdusselam KÖSECİK" class="img-circle">
                            <div class="mask"></div>
                            <ul class="team-social-list">
                                <li><a href="mailto:abdusselam.kosecik@gmail.com"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.facebook.com/abdusselam.kosecik"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/tekbirsoft"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/abdusselam-k%C3%B6secik-ab209327/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <h6>Abdusselam Kösecik</h6>
                        <div class="subtext">Yönetim Kurulu Başkanı</div>
                        <div class="subtext">Kıdemli Yazılım Geliştirme Uzmanı</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-box">
                        <div class="team-inner">
                            <img src="/Images/FatihDemir.jpg" alt="Fatih DEMİR" class="img-circle">
                            <div class="mask"></div>
                            <ul class="team-social-list">
                                <li><a href="mailto:fatih.demir@yazgelder.com"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.facebook.com/fatihdemirtc"><i class="fa fa-facebook"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-twitter"></i></a></li>*@
                                <li><a href="https://www.linkedin.com/in/fatihdemirtc/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <h6>Fatih Demir</h6>
                        <div class="subtext">Yönetim Kurulu Başkan Yardımcısı</div>
                        <div class="subtext">Bilgisayar Mühendisi</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-box">
                        <div class="team-inner">
                            <img src="/Images/YasinKilicli.jpg" alt="Yasin KILIÇLI" class="img-circle">
                            <div class="mask"></div>
                            <ul class="team-social-list">
                                <li><a href="mailto:Yasin.kılıclı@yazgelder.com"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.facebook.com/thyliaaa"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/ysnklcl"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/yasin-k%C4%B1l%C4%B1%C3%A7l%C4%B1-3b3965136/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <h6>Yasin Kılıçlı</h6>
                        <div class="subtext">Sayman</div>
                        <div class="subtext">Yazılım Geliştirme Uzmanı</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="team-box">
                        <div class="team-inner">
                            <img src="/Images/BekirYildirim.jpg" alt="Bekir YILDIRIM" class="img-circle">
                            <div class="mask"></div>
                            <ul class="team-social-list">
                                <li><a href="mailto:bekir.Yildirim@yazgelder.com"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.facebook.com/pckitap"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/tekbirsoft"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/abdusselam-k%C3%B6secik-ab209327/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <h6>Bekir YILDIRIM</h6>
                        <div class="subtext">Genel Sekreter</div>
                        <div class="subtext">Uzman Eğitmen</div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row ">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <div class="team-box">
                        <div class="team-inner">
                            <img src="/Images/thumb-1.png" alt="Filiz KÖSECİK" class="img-circle">
                            <div class="mask"></div>
                            <ul class="team-social-list">
                                <li><a href="mailto:filiz.kosecik@yazgelder.com"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.facebook.com/abdusselam.kosecik"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/tekbirsoft"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/abdusselam-k%C3%B6secik-ab209327/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <h6>Filiz KÖSECİK</h6>
                        <div class="subtext">Üye</div>
                        <div class="subtext">Yazılım Geliştirme Uzmanı</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-box">
                        <div class="team-inner">
                            <img src="/Images/HamzaBatbay.jpg" alt="Hamza BATBAY" class="img-circle">
                            <div class="mask"></div>
                            <ul class="team-social-list">
                                <li><a href="mailto:hamza.batbay@yazgelder.org"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.facebook.com/abdusselam.kosecik"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/tekbirsoft"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/abdusselam-k%C3%B6secik-ab209327/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <h6>Hamza BATBAY</h6>
                        <div class="subtext">Üye</div>
                        <div class="subtext">Yazılım Geliştirme Uzmanı</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-box">
                        <div class="team-inner">
                            <img src="/Images/IsmailAtillaBas.jpg" alt="" class="img-circle">
                            <div class="mask"></div>
                            <ul class="team-social-list">
                                <li><a href="mailto:atilla.bas@yazgelder.org"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="https://www.facebook.com/abdusselam.kosecik"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/tekbirsoft"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/abdusselam-k%C3%B6secik-ab209327/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <h6>İsmail Atilla BAŞ</h6>
                        <div class="subtext">Üye</div>
                        <div class="subtext">Yazılım Geliştirme Uzmanı</div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>


    @Html.Partial("_fooder")


</div>
