@{
    ViewData["Title"] = "Dernek Tüzüğü";
    ViewData["Description"] = "Yazgelder - Yazılım Geliştiricileri Derneği - " + ViewData["Title"]; 
    ViewData["Date"] = (DateTime.Now.ToString("s")) + "+0300";
    ViewData["image"] = "https://www.yazgelder.org/Images/ShareImage.png";
    ViewData["image:width"] = "1200";
    ViewData["image:height"] = "627";
}
@section Haders{
}

<section id="sub-header-3" data-speed="8" data-type="background" class="padding-top-bottom subheader" style="background-position: 50% 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="breadcrumbs-outer">
                <ul class="breadcrumbs">
                    <li><a href="/" title="Yazılım Geliştiricileri Derneği">Ana Sayfa</a></li>
                    <li><a href="/AboutUs" title="Yazılım Geliştiricileri Derneği - Hakkımızda sayfası">Hakkımızda</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<div id="content" class="no-padding">


    <section id="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">


                    <H2>YAZILIM GELİŞTİRİCİLERİ DERNEĞİ TÜZÜĞÜ</H2>


                    <h3>Derneğin Adı ve Merkezi</h3>

                    <h4>Madde 1-</h4>
                    <p>
                        Derneğin adı "Yazılım Geliştiricileri Derneği " olup kısa şekli olarak da
                        “YAZGELDER” unvanını kullanacaktır. Merkezi İstanbul’dur. Şubesi
                        açılmayacaktır.
                    </p>

                    <h5>
                        Derneğin Amacı ve Bu Amacı Gerçekleştirmek İçin Dernekçe Sürdürülecek
                        Çalışma Konuları ve Biçimleri İle Faaliyet Alanı
                    </h5>

                    <h4>Madde 2- </h4>
                    <p>
                        Mesleki birlik ve dayanışmayı, yeni geliştiricilerin yetiştirilmesi ve
                        yol gösterilmesi sağlamak, bilgi ve birikim paylaşımını sağlamak,
                        geliştiricilerin haklarını savunmada yardımcı olmak, sektör üzerinde sosyal
                        sorumluluk projeleri üstlenerek ülkemiz için katma değer oluşturmak için;
                        bilişim sektörü ile ilgili her türlü çalışma ve düzenlemenin toplumsal ve
                        sektörel gelişmeye katkı sağlayacak biçimde çağdaş boyutlarda
                        gerçekleşmesini temin etmek amacıyla kurulmuştur.
                    </p>
                    <h5>
                        Dernekçe Sürdürülecek Çalışma Konuları ve Biçimleri ve Prensipleri :
                    </h5>
                    <ol>
                        <li>
                            Yazılım geliştiricileri bir araya toplamak, mesleki gelişim ve
                            dayanışmalarını sağlamak,
                        </li>


                        <li>
                            Sektörün gelişmesi için üyelerin ve sektör çalışanlarının eğitilmesi,
                            yenilikler konusunda bilgilendirilmesi için eğitim ve seminer
                            faaliyetlerinde bulunmak,
                        </li>
                        <li>
                            Sektöre kalifiye eleman yetiştirilmesi ve sektör çalışanlarının
                            kalitesinin artırılması için gerekli faaliyetlerde bulunmak,
                        </li>
                        <li>
                            Sektöründeki insan gücünün verimlilik ve etkinliğini arttırmak, insana
                            yapılan yatırımları desteklemek,
                        </li>
                        <li>
                            Sektörle ilgili standartlar, terminoloji, eğitim, yasal düzenlemeler,
                            çalışma koşulları gibi konularda yol göstermek ve destek vermek,
                        </li>
                        <li>
                            Yazılımla ilgili toplumsal sorunlara çözüm önerileri geliştirmek
                        </li>
                        <li>
                            Yazılım konusunda kamusal yararı önde tutan politika ve kararların
                            oluşmasını sağlamak,
                        </li>
                        <li>
                            Teknik ve bilimsel danışmanlık olanağı sağlamak, raporlar hazırlamak veya
                            hazırlattırmak, bilgi alış verişi ve işbirliği olanakları yaratmak,
                        </li>
                        <li>
                            Yazılım ve platformlardaki dünyada yaşanan gelişmeleri izlemek ve
                            ülkemize aktarılmasına yardımcı olmak,
                        </li>
                        <li>
                            Yazılımla ve yazılım geliştiricilerin çalışma şartlarıyla ilgili her
                            türlü uygulama ve yasal düzenlemeler konusunda görüş ve önerilerini
                            ilgililerin dikkatine sunmak, plan ve politikalar oluşmasına katkı
                            sağlamak,
                        </li>
                        <li>
                            Derneğin çalışma alanlarını ilgilendiren mevzuatın geliştirilmesi için
                            öneriler hazırlamak, bu önerileri ilgili kurum ve kuruluşlara iletmek,
                            görüşmeler yapmak, gelişmeleri kamuoyuna yansıtmak,
                        </li>
                        <li>
                            Üyelerin, derneğin amacına yönelik bilgi ve becerilerini, beşeri
                            münasebetlerini artırmak, devam ettirmek ve geliştirmek amacıyla konferans,
                            sempozyum, panel, seminer, yemekli toplantı, konser, tiyatro, sergi, spor
                            müsabakaları, yarışmalar, geziler, fuarlar, vb. her tür etkinliği
                            düzenlemek, lokal açmak, sosyal ve kültürel tesisler kurmak, animasyon,
                            gösteri ve tiyatro grupları, çocuk, genç ve yetişkin kulüpleri kurmak,
                        </li>
                        <li>
                            Faaliyetlerin etkinleştirilmesi ve geliştirilmesi için araştırmalar
                            yapmak ve bunların sonuçlarını yayınlamak
                        </li>
                        <li>
                            Amacın gerçekleştirilmesi için gerekli olan her türlü bilgi, belge,
                            doküman ve yayınları temin etmek, dokümantasyon merkezi oluşturmak,
                        </li>
                        <li>
                            Anketler, kamuoyu araştırmaları yapmak,
                        </li>
                        <li>
                            Çalışmalarını duyurmak ve toplumun bilgilendirilme hakkını kullanmasına
                            yönelik olarak amaçları doğrultusunda gazete, dergi, kitap gibi yayınlar ve
                            bilgilendirici bültenleri çıkarmak, televizyon ve radyo programları yapmak
                            ve bu gibi her tür yayın aracını kullanmak,
                        </li>
                        <li>
                            WEB Sayfaları, internet portalı kurmak, işletmek, internet üzerinden
                            amaçları ile ilgili online(çevrimiçi) eğitim hizmetleri sunmak, iletişim
                            merkezleri kurmak,
                        </li>
                        <li>
                            Amacın gerçekleştirilmesi için sağlıklı bir çalışma ortamını sağlamak,
                            her tür teknik araç ve gereci, demirbaş ve kırtasiye malzemelerini temin
                            etmek,
                        </li>
                        <li>
                            Geniş anlamda sektör ile ilgili bilimsel çalışma ve araştırmalar yapmak,
                            toplantılar düzenlemek ya da bunların yapılmasını desteklemek, koordine
                            etmek, yönetmek, edindiği bilgi ve deneyimleri paylaşmak, yaymak,
                        </li>
                        <li>
                            Faaliyet alanına yönelik ve genel amaçlı kütüphane oluşturmak ve gerek
                            üyelerin gerek hedef kitlenin kullanımına sunmak, bilimsel araştırma ve
                            gelişmeleri takip etmek ve alanındaki yenilikleri üyelere ve hedef kitleye
                            duyurmak,
                        </li>
                        <li>
                            21-Yazılım konusunda danışmanlık hizmeti vermek, hedef kitleye yönelik
                            paket seminer programları düzenlemek ve yerinde eğitim takviye ve destek
                            çalışmaları yapmak,
                        </li>
                        <li>
                            Özel Eğitim Kanunlarına uygun ve mevzuata uygun özel eğitim kurumları
                            açmak, işletmek amacıyla, arazi ve arsa satın almak, imar planına uygun
                            olarak bu arsa ve arazi üzerinde okulöncesi eğitim, ilköğretim, enstitü,
                            kurs, dershane, ilmî araştırma-geliştirme merkezleri, özel lojmanlar ve
                            öğrenci yurtları kurmak, bu kurumların işletilmesini doğrudan veya dolaylı
                            olarak üstlenmek, kiralamak ve bunlara her türlü aynî ve nakdî yardımda
                            bulunmak.
                        </li>
                        <li>
                            İhtiyaç sahibi Türk ve yabancı uyruklu öğrencilere yurt içi ve yurt dışı
                            her türlü eğitim ve öğretim yardımı yapmak,
                        </li>
                        <li>
                            Sektörel düzeyde eğitim amaçlı yayın, araç ve gereç üretmek, pazarlamak,
                            satmak, dernek amacı doğrultusunda kazancı kullanmak,
                        </li>
                        <li>
                            Bilişimli ilgili, kültür, basın-yayın, tanıtım çalışmaları yapmak ve
                            benzeri etkinliklerde bulunmak, fuar, sergi vb. organizasyonlar düzenlemek.
                        </li>
                        <li>
                            Amacın gerçekleştirilmesi için gönüllü ve ücretli eleman istihdam etmek
                            ve yönetim kurulu kararıyla ücretli elemanların sosyal hak ve güvencelerini
                            temin etmek,
                        </li>
                        <li>
                            Gerekli izinler alınmak suretiyle yardım toplama faaliyetlerinde
                            bulunmak, yurt içinden ve yurt dışından bağış kabul etmek,
                        </li>
                        <li>
                            Tüzük amaçlarının gerçekleştirilmesi için ihtiyaç duyduğu gelirleri
                            temin etmek amacıyla iktisadî, ticarî ve sanayi işletmeler kurmak ve
                            işletmek,
                        </li>
                        <li>
                            Dernek faaliyetleri için ihtiyaç duyulan taşınır-taşınmaz malları satın
                            almak, satmak, kiralamak, taşınmazlar üzerinde aynî hak tesis etmek, her
                            çeşit menkul mal ve değerleri alıp satmak ve üzerlerinde her çeşit
                            tasarrufta bulunmak, gerekli her tür inşaatı yapmak, yaptırmak, tesisler
                            kurmak,
                        </li>
                        <li>
                            Uluslar arası faaliyette bulunmak, yurt içi ve yurt dışındaki dernek
                            veya diğer kuruluşlara üye olmak, ilgili mevzuata uygun olarak kamu kurum,
                            kuruluşları ve üniversiteler ile proje bazında ortak çalışmalar yapmak ve
                            yardımlaşmak,
                        </li>
                        <li>
                            Dernek üyelerinin ulusal ve uluslar arası düzeyde ağlara katılımlarını
                            ve yeni ağlar oluşturmalarını desteklemek,
                        </li>
                        <li>
                            Derneğin amacını gerçekleştirmek için benzer amaçlı derneklerden, işçi
                            ve işveren sendikalarından ve meslekî kuruluşlardan maddî yardım almak ve
                            adı geçen kurumlara maddî yardımda bulunmak,
                        </li>
                        <li>
                            Yardım Toplama Kanunu, ilgili diğer mevzuat ve bu tüzük hükümlerine
                            uygun olarak yardım ve bağış toplamak; şartlı ve şartsız vasiyetleri kabul
                            etmek
                        </li>
                        <li>
                            Amacın gerçekleştirilmesi için gerek görülmesi durumunda yurt içinde ve
                            yurt dışında vakıf kurmak, federasyon kurmak veya kurulu bir federasyona
                            katılmak, gerekli izin alınarak derneklerin kurabileceği tesisleri kurmak,
                        </li>
                        <li>
                            Uluslararası faaliyette bulunmak, yurt dışındaki dernek veya kuruluşlara
                            üye olmak ve bu kuruluşlarla ortak çalışmalar yapmak veya yardımlaşmak,
                        </li>
                        <li>
                            Amacın gerçekleştirilmesi için gerek görülmesi halinde, 5072 sayılı
                            Dernek ve Vakıfların Kamu Kurum ve Kuruluşları ile İlişkilerine Dair Kanun
                            hükümleri saklı kalmak üzere, kamu kurum ve kuruluşları ile görev
                            alanlarına giren konularda ortak projeler yürütmek,
                        </li>
                        <li>
                            Dernek üyelerinin yiyecek, giyecek gibi zaruri ihtiyaç maddelerini ve
                            diğer mal ve hizmetlerle kısa vadeli kredi ihtiyaçlarını karşılamak
                            amacıyla sandık kurmak,
                        </li>
                        <li>
                            Gerekli görülen yerlerde temsilcilikler açmak,
                        </li>
                    </ol>

                    <h3>Derneğin Faaliyet Alanı</h3>

                    <p>
                        Dernek, mesleki dayanışma ve sosyal alanda yurt içinde ve yurt dışında
                        faaliyet gösterir.
                    </p>

                    <h3>Üye Olma Hakkı ve Üyelik İşlemleri</h3>


                    <H4>Madde 3</H4>

                    <h5>Asli Üyelik:</h5>
                    <p>
                        Fiil ehliyetine sahip bulunan, derneğin amaç ve ilkelerini benimseyerek
                        bu doğrultuda çalışmayı kabul eden, Mevzuatın öngördüğü koşullarını taşıyan
                        ve bilişim sektöründe faaliyet gösteren her gerçek ve tüzel kişi bu derneğe
                        üye olma hakkına sahiptir. Ancak, yabancı gerçek kişilerin üye olabilmesi
                        için Türkiye’de yerleşme hakkına sahip olması da gerekir. Onursal üyelik
                        için bu koşul aranmaz.
                    </p>
                    <p>
                        Derneğe asli, fahri ve onursal üye olmak isteyenlerin, en az 2 asli üye
                        tarafından yazılı olarak tanıtılıp önerilmek koşuluyla, dolduracakları
                        üyelik başvuru formu ile dernek merkezine başvururlar.
                    </p>
                    <p>
                        Asli Üyelik için başvuranların durumu, Yönetim Kurulu tarafından, derneğin
                        amaç ve ilkelerini gerçekleştirmesine yaptıkları veya yapabilecekleri
                        katkılar açısından değerlendirilmek suretiyle 30 gün içinde üyeliğe kabul
                        veya isteğin reddi şeklinde karara bağlanır.
                    </p>
                    <H5> Fahri Üyelik : </H5>
                    <p>

                        Dernek amaç ve ilkelerine önemli bir ölçüde katkı sağlayamasa bile dernek
                        içinde bulunma arzusu taşıyanlara, derneğin asli üyesi olmayan ancak
                        derneğin amacına yönelik çalışmalara katkıda bulunmak isteyen kişilere
                        başvuruları üzerine yönetim kurulu kararıyla fahri üyelik verilebilir. Bu
                        durumdaki gerçek ve tüzel kişiler derneğe fahri üye kaydedilebilir. Fahri
                        üyeler, genel kurul toplantılarına katılabilirler ancak organlara seçilemez
                        ve oy kullanamazlar.
                    </p>
                    <p>
                        Derneğe, derneğin amaç ve ilkelerini gerçekleştirmesine uzun süre ve önemli
                        ölçüde katkıda bulunanlara Yönetim Kurulu kararıyla onur belgesi
                        verilebilir. Fahri üyeler ve onur belgesi verilenler için ayrı bir üyelik
                        defteri tutulur.
                    </p>
                    <p>
                        Dernek asli üyeleri ve fahri üyeleri kendi aralarında eşit haklara
                        sahiptirler. Sadece asli üyeler, oy kullanma, seçme ve seçilme hakkına
                        sahiptirler. Her üye oyunu bizzat kullanır. Üyeler kendileriyle ilgili
                        konularda oylamalara katılmazlar.
                    </p>
                    <p>
                        Tüm üyeler, yasa ve tüzük hükümlerine, yetkili kurul kararlarına uymak,
                        yönetim kurulunca verilecek görevleri yerine getirmek, aidatını zamanında
                        ödemek, derneğin amaç ve ilkelerine uygun davranmak, bu amaç ve ilkelerin
                        gerçekleşmesini zorlaştırıcı tavır ve davranışlardan kaçınmak, dernek tüzel
                        kişiliğinin saygınlığını korumaya ve artırmaya özen göstermekle yükümlüdür.
                    </p>

                    <h5>ONURSAL ÜYELİK VE ONURSAL BAŞKANLIK</h5>


                    <h4>Madde 4-</h4>

                    <p>
                        Derneğin amacına uygun çalışmalara herhangi bir yoldan katkıda bulunana ve
                        derneğe üyeliği ile onur verebilecek nitelikteki şahsiyetlere dernekçe
                        verilen payedir. Yönetim Kurulu kararı ile verilen onursal üyelik ve
                        başkanlık payeleri Genel Kurul‟un bilgisine arz olunur. Onur üyeleri aidat
                        ödemezler, Genel Kurul‟a davet edilirler; burada söz hakkına sahiptirler,
                        ancak oy kullanamazlar. Onursal başkan veya onursal üye dernek üyesi olduğu
                        takdirde üyelik yükümlülüklerini haizdir.
                    </p>

                    <h3>Üyelikten Çıkma</h3>
                    <h4>Madde 5</h4>
                    <p>
                        - Her üye yazılı olarak bildirmek kaydıyla, dernekten çıkma hakkına
                        sahiptir.
                    </p>
                    <p>
                        Üyenin istifa dilekçesi yönetim kuruluna ulaştığı anda çıkış işlemleri
                        sonuçlanmış sayılır. Üyelikten ayrılma, üyenin derneğe olan birikmiş
                        borçlarını sona erdirmez.
                    </p>


                    <h3>Üyelikten Çıkarılma</h3>

                    <h4>Madde 6 -Dernek üyeliğinden çıkarılmayı gerektiren haller.</h4>
                    <p>

                    </p>
                    <ol>
                        <li>
                            Dernek tüzüğüne aykırı davranışlarda bulunmak,
                        </li>
                        <li>
                            Verilen görevlerden sürekli kaçınmak,
                        </li>
                        <li>
                            Yazılı ikazlara rağmen üyelik aidatını iki ay içinde mazeret
                            bildirmeksizin ödememek,
                        </li>
                        <li>
                            Dernek organlarınca verilen kararlara uymamak.
                        </li>
                        <li>
                            Üye olma şartlarını kaybetmiş olmak,
                        </li>
                        <li>
                            Dernek üyeleri arasında huzursuzluğa sebebiyet verme,
                        </li>
                        <li>
                            Türkiye devletinin terör olarak tanımladığı grupların propagandasını
                            yapmak,
                        </li>
                        <li>
                            Derneğin çıkarlarına karşı gelecek hal ve hareketlerde bulunmak,
                        </li>
                    </ol>
                    <p>
                        Yukarıda sayılan durumlardan birinin tespiti halinde yönetim kurulu kararı
                        ile üyelikten çıkarılır.
                    </p>
                    <p>
                        Dernekten çıkan veya çıkarılanlar, üye kayıt defterinden silinir ve dernek
                        malvarlığında hak iddia edemez.
                    </p>

                    <h2>Dernek Organları</h2>

                    <h4>Madde 7-Derneğin organları aşağıda gösterilmiştir.</h4>
                    <p>

                    </p>
                    <ol>
                        <li>
                            Genel Kurul,
                        </li>
                        <li>
                            Yönetim Kurulu,
                        </li>
                        <li>
                            Denetim Kurulu,
                        </li>
                    </ol>

                    <h3>
                        Dernek Genel Kurulunun Kuruluş Şekli, Toplanma Zamanı ve Çağrı ve
                        Toplantı Usulü
                    </h3>

                    <h4>
                        Madde 8- Genel kurul, derneğin en yetkili karar organı olup; derneğe kayıtlı
                        üyelerden oluşur.
                    </h4>
                    <p>
                        Genel kurul;
                    </p>
                    <p>
                        1-Bu tüzükte belli edilen zamanda olağan,
                    </p>
                    <p>
                        2-Yönetim veya denetim kurulunun gerekli gördüğü hallerde veya dernek
                        üyelerinden beşte birinin yazılı başvurusu üzerine, yönetim kurulunca
                        olağanüstü toplantıya çağrılır. Yönetim kurulu, genel kurulu toplantıya
                        çağırmazsa; üyelerden birinin başvurusu üzerine sulh hâkimi, üç üyeyi genel
                        kurulu toplantıya çağırmakla görevlendirir
                    </p>
                    <p>
                        Olağan genel kurul, 3 yılda bir, Haziran ayı içerisinde, yönetim kurulunca
                        belirlenecek gün yer ve saatte toplanır.
                    </p>
                    <h5>Çağrı Usulü</h5>


                    <p>
                        Yönetim kurulu, dernek tüzüğüne göre genel kurula katılma hakkı bulunan
                        üyelerin listesini düzenler. Genel kurula katılma hakkı bulunan üyeler, en
                        az onbeş gün önceden, toplantının günü, saati, yeri ve gündemi web sitesi
                        üzerinden, üyenin bildirdiği elektronik posta adresine ya da iletişim
                        numarasına mesaj gönderilmek veya kayıtta belirtilen cep telefonu
                        numarasına sms gönderilmesi suretiyle bildirilir. Bu çağrıda, çoğunluk
                        sağlanamaması sebebiyle toplantı yapılamazsa, ikinci toplantının hangi gün,
                        saat ve yerde yapılacağı da belirtilir. İlk toplantı ile ikinci toplantı
                        arasındaki süre yedi günden az, altmış günden fazla olamaz.
                    </p>
                    <p>
                        Toplantı, çoğunluk sağlanamaması sebebinin dışında başka bir nedenle geri
                        bırakılırsa, bu durum geri bırakma sebepleri de belirtilmek suretiyle, ilk
                        toplantı için yapılan çağrı usulüne uygun olarak üyelere duyurulur. İkinci
                        toplantının geri bırakma tarihinden itibaren en geç altı ay içinde
                        yapılması zorunludur. Üyeler ikinci toplantıya, birinci fıkrada belirtilen
                        esaslara göre yeniden çağrılır.
                    </p>
                    <p>
                        Genel kurul toplantısı bir defadan fazla geri bırakılamaz.
                    </p>
                    <h5>Toplantı Usulü</h5>
                    <p>
                        Genel kurul, katılma hakkı bulunan üyelerin salt çoğunluğunun, tüzük
                        değişikliği ve derneğin feshi hallerinde ise üçte ikisinin katılımıyla
                        toplanır; çoğunluğun sağlanamaması sebebiyle toplantının ertelenmesi
                        durumunda ikinci toplantıda çoğunluk aranmaz. Ancak, bu toplantıya katılan
                        üye sayısı, yönetim ve denetim kurulları üye tam sayısının iki katından az
                        olamaz.
                    </p>
                    <p>
                        Genel kurula katılma hakkı bulunan üyelerin listesi toplantı yerinde hazır
                        bulundurulur. Toplantı yerine girecek üyelerin resmi makamlarca verilmiş
                        kimlik belgeleri, yönetim kurulu üyeleri veya yönetim kurulunca
                        görevlendirilecek görevliler tarafından kontrol edilir. Üyeler, yönetim
                        kurulunca düzenlenen listedeki adları karşısına imza koyarak toplantı
                        yerine girerler.
                    </p>
                    <p>
                        Toplantı yeter sayısı sağlanmışsa durum bir tutanakla tespit edilir ve
                        toplantı yönetim kurulu başkanı veya görevlendireceği yönetim kurulu
                        üyelerinden biri tarafından açılır. Toplantı yeter sayısı sağlanamaması
                        halinde de yönetim kurulunca bir tutanak düzenlenir.
                    </p>
                    <p>
                        Açılıştan sonra, toplantıyı yönetmek üzere bir başkan ve yeteri kadar
                        başkan vekili ile yazman seçilerek divan heyeti oluşturulur.
                    </p>
                    <p>
                        Dernek organlarının seçimi için yapılacak oylamalarda, oy kullanan üyelerin
                        divan heyetine kimliklerini göstermeleri ve hazırun listesindeki
                        isimlerinin karşılarını imzalamaları zorunludur.
                    </p>
                    <p>
                        Toplantının yönetimi ve güvenliğinin sağlanması divan başkanına aittir.
                    </p>
                    <p>
                        Genel kurulda, yalnızca gündemde yer alan maddeler görüşülür. Ancak
                        toplantıda hazır bulunan üyelerin onda biri tarafından görüşülmesi yazılı
                        olarak istenen konuların gündeme alınması zorunludur.
                    </p>
                    <p>
                        Genel kurulda her üyenin bir oy hakkı vardır; üye oyunu şahsen kullanmak
                        zorundadır. Onursal üyeler genel kurul toplantılarına katılabilir ancak oy
                        kullanamazlar. Tüzel kişinin üye olması halinde, tüzel kişinin yönetim
                        kurulu başkanı veya temsille görevlendireceği kişi oy kullanır
                    </p>
                    <p>
                        Toplantıda görüşülen konular ve alınan kararlar bir tutanağa yazılır ve
                        divan başkanı ile yazmanlar tarafından birlikte imzalanır. Toplantı
                        sonunda, tutanak ve diğer belgeler yönetim kurulu başkanına teslim edilir.
                        Yönetim kurulu başkanı bu belgelerin korunmasından ve yeni seçilen yönetim
                        kuruluna yedi gün içinde teslim etmekten sorumludur.
                    </p>

                    <h5>Genel Kurulun Oy kullanma ve Karar Alma Usul ve Şekilleri</h5>
                    <h4>Madde 8- Genel kurulda, aksine karar alınmamışsa, oylamalar açık olarak yapılır.</h4>
                    <p>
                        Açık oylamada, genel kurul başkanının belirteceği yöntem uygulanır.
                    </p>
                    <p>
                        Gizli oylama yapılacak olması durumunda ise, toplantı başkanı tarafından
                        mühürlenmiş kağıtlar veya oy pusulaları üyeler tarafından gereği
                        yapıldıktan sonra içi boş bir kaba atılır ve oy vermenin bitiminden sonra
                        açık dökümü yapılarak sonuç belirlenir.
                    </p>
                    <p>
                        Genel kurul kararları, toplantıya katılan üyelerin salt çoğunluğuyla
                        alınır. Şu kadar ki, tüzük değişikliği ve derneğin feshi kararları, ancak
                        toplantıya katılan üyelerin üçte iki çoğunluğuyla alınabilir.
                    </p>
                    <h5>Toplantısız veya Çağrısız Alınan Kararlar</h5>
                    <p>
                        Bütün üyelerin bir araya gelmeksizin yazılı katılımıyla alınan kararlar ile
                        dernek üyelerinin tamamının bu tüzükte yazılı çağrı usulüne uymaksızın bir
                        araya gelerek aldığı kararlar geçerlidir. Bu şekilde karar alınması olağan
                        toplantı yerine geçmez.
                    </p>

                    <h2>Genel Kurulun Görev ve Yetkileri</h2>

                    <h4>Madde 9-Aşağıda yazılı hususlar genel kurulca görüşülüp karara bağlanır.</h4>

                    <ol>
                        <li>
                            Dernek organlarının seçilmesi,
                        </li>
                        <li>
                            Dernek tüzüğünün değiştirilmesi,
                        </li>
                        <li>
                            Yönetim ve denetim kurulları raporlarının görüşülmesi ve yönetim
                            kurulunun ibrası,
                        </li>
                        <li>
                            Yönetim kurulunca hazırlanan bütçenin görüşülüp aynen veya değiştirilerek
                            kabul edilmesi,
                        </li>
                        <li>
                            Derneğin diğer organlarının denetlenmesi ve gerek görüldüğünde haklı
                            sebeplerle onların görevden alınması,
                        </li>
                        <li>
                            Üyeliğin reddi veya üyelikten çıkarma hakkında verilen yönetim kurulu
                            kararlarına karşı yapılan itirazların incelenmesi ve karara bağlanması,
                        </li>
                        <li>
                            Dernek için gerekli olan taşınmaz malların satın alınması veya mevcut
                            taşınmaz malların satılması hususunda yönetim kuruluna yetki verilmesi,
                        </li>
                        <li>
                            Yönetim kurulunca dernek çalışmaları ile ilgili olarak hazırlanacak
                            yönetmelikleri inceleyip aynen veya değiştirilerek onaylanması,
                        </li>
                        <li>
                            Dernek yönetim ve denetim kurullarının kamu görevlisi olmayan başkan ve
                            üyelerine verilecek ücret ile her türlü ödenek, yolluk ve tazminatlar ile
                            dernek hizmetleri için görevlendirilecek üyelere verilecek gündelik ve
                            yolluk miktarlarının tespit edilmesi,
                        </li>
                        <li>
                            Derneğin federasyona katılması ve ayrılmasının kararlaştırılması ve bu
                            hususta yönetim kuruluna yetki verilmesi,
                        </li>
                        <li>
                            verilen temsilcilik ile ilgili işlemlerin yürütülmesi bir asli üyeye yetki
                            vermesi,
                        </li>
                        <li>
                            Derneğin uluslar arası faaliyette bulunması, yurt dışındaki dernek ve
                            kuruluşlara üye olarak katılması veya ayrılması,
                        </li>
                        <li>
                            Derneğin vakıf kurması,
                        </li>
                        <li>
                            Derneğin fesih edilmesi,
                        </li>
                        <li>
                            Yönetim kurulunun diğer önerilerinin incelenip karara bağlanması,
                        </li>
                        <li>
                            Derneğin en yetkili organı olarak derneğin diğer bir organına verilmemiş
                            olan işlerin görülmesi ve yetkilerin kullanılması,
                        </li>
                        <li>
                            Mevzuatta genel kurulca yapılması belirtilen diğer görevlerin yerine
                            getirilmesi,
                        </li>
                    </ol>
                    <p>
                        Genel kurul, derneğin diğer organlarını denetler ve onları haklı sebeplerle
                        her zaman görevden alabilir.
                    </p>
                    <p>
                        Genel kurul, üyeliğe kabul ve üyelikten çıkarma hakkında son kararı verir.
                        Derneğin en yetkili organı olarak derneğin diğer bir organına
                        verilmemiş olan işleri görür ve yetkileri kullanır.
                    </p>

                    <h3>Yönetim Kurulunun Teşkili, Görev ve Yetkileri</h3>



                    <h4>Madde 11 -Yönetim Kurulu, 7 asıl ve 7 yedek üye olarak genel kurulca seçilir.</h4>

                    <p>
                        Yönetim kurulu, seçimden sonraki ilk toplantısında bir kararla görev
                        bölüşümü yaparak başkan, başkan yardımcısı, sekreter, sayman ve üye’yi
                        belirler.
                    </p>
                    <p>
                        Yönetim kurulu, tüm üyelerin haber edilmesi şartıyla her zaman toplantıya
                        çağrılabilir. Üye tamsayısının yarısından bir fazlasının hazır bulunması
                        ile toplanır. Kararlar, toplantıya katılan üye tam sayısının salt çoğunluğu
                        ile alınır.
                    </p>
                    <p>
                        Yönetim kurulu asıl üyeliğinde istifa veya başka sebeplerden dolayı boşalma
                        olduğu taktirde genel kurulda aldığı oy çokluğu sırasına göre yedek
                        üyelerin göreve çağrılması mecburidir.
                    </p>
                    <h5>Yönetim Kurulunun Görev ve Yetkileri </h5>
                    <p>
                        Yönetim kurulu aşağıdaki hususları yerine getirir.
                    </p>
                    <ol>
                        <li>
                            Derneği temsil etmek veya bu hususta kendi üyelerinden birine veya bir
                            üçüncü kişiye yetki vermek,
                        </li>
                        <li>
                            Gelir ve gider hesaplarına ilişkin işlemleri yapmak ve gelecek döneme ait
                            bütçeyi hazırlayarak genel kurula sunmak,
                        </li>
                        <li>
                            Derneğin çalışmaları ile ilgili yönetmelikleri hazırlayarak genel kurul
                            onayına sunmak,
                        </li>
                        <li>
                            Genel kurulun verdiği yetki ile taşınmaz mal satın almak, derneğe ait
                            taşınır ve taşınmaz malları satmak, bina veya tesis inşa ettirmek, kira
                            sözleşmesi yapmak, dernek lehine rehin ipotek veya ayni haklar tesis
                            ettirmek,
                        </li>
                        <li>
                            Gereli görülen yerlerde temsilcilik açılmasını sağlamak,
                        </li>
                        <li>
                            Genel kurulda alınan kararları uygulamak,
                        </li>
                        <li>
                            Her faaliyet yılı sonunda derneğin işletme hesabı tablosu veya bilanço ve
                            gelir tablosu ile yönetim kurulu çalışmalarını açıklayan raporunu
                            düzenlemek, toplandığında genel kurula sunmak,
                        </li>
                        <li>
                            Bütçenin uygulanmasını sağlamak,
                        </li>
                        <li>
                            Derneğe üye alınması veya üyelikten çıkarılma hususlarında karar vermek,
                        </li>
                        <li>
                            Derneğin amacını gerçekleştirmek için yetkisi dahilinde her çeşit kararı
                            almak ve uygulamak,
                        </li>
                        <li>
                            Mevzuatın kendisine verdiği diğer görevleri yapmak ve yetkileri
                            kullanmak,
                        </li>
                    </ol>

                    <h3> Denetim Kurulunun Teşkili, Görev ve Yetkileri</h3>

                    <h2>Madde 12-Denetim Kurulu, üç asıl ve üç yedek üye olarak genel kurulca seçilir.</h2>

                    <p>
                        Denetim kurulu asıl üyeliğinde istifa veya başka sebeplerden dolayı boşalma
                        olduğu taktirde genel kurulda aldığı oy çokluğu sırasına göre yedek
                        üyelerin göreve çağrılması mecburidir.
                    </p>
                    <h5>Denetim Kurulunun Görev ve Yetkileri</h5>

                    <p>
                        Denetim kurulu; derneğin, tüzüğünde gösterilen amaç ve amacın
                        gerçekleştirilmesi için sürdürüleceği belirtilen çalışma konuları
                        doğrultusunda faaliyet gösterip göstermediğini, defter, hesap ve kayıtların
                        mevzuata ve dernek tüzüğüne uygun olarak tutulup tutulmadığını, dernek
                        tüzüğünde tespit edilen esas ve usullere göre ve bir yılı geçmeyen
                        aralıklarla denetler ve denetim sonuçlarını bir rapor halinde yönetim
                        kuruluna ve toplandığında genel kurula sunar.
                    </p>
                    <p>
                        Denetim kurulu, gerektiğinde genel kurulun toplantıya çağrılmasını
                        isteyebilir.
                    </p>

                    <h3>Derneğin Gelir Kaynakları</h3>

                    <h4>Madde 13-Derneğin gelir kaynakları aşağıda sayılmıştır.</h4>

                    <ol>
                        <li>
                            Üye Aidatı: Asil Üyelerden giriş ödentisi olarak 50 TL, yıllık olarak ta
                            100 TL aidat alınır. Fahri ve Onursal üyelerden aidat alınmaz. Bu
                            miktarları artırmaya veya eksiltmeye genel kurul yetkilidir.
                        </li>
                        <li>
                            Gerçek ve tüzel kişilerin kendi isteği ile derneğe yaptıkları bağış ve
                            yardımlar.
                        </li>
                        <li>
                            Dernek tarafından tertiplenen çay ve yemekli toplantı, gezi ve eğlence,
                            temsil, konser, spor yarışması ve konferans gibi faaliyetlerden sağlanan
                            gelirler,
                        </li>
                        <li>
                            Derneğin mal varlığından elde edilen gelirler,
                        </li>
                        <li>
                            Yardım toplama hakkındaki mevzuat hükümlerine uygun olarak toplanacak
                            bağış ve yardımlar.
                        </li>
                        <li>
                            Derneğin, amacını gerçekleştirmek için ihtiyaç duyduğu geliri temin etmek
                            amacıyla giriştiği ticari faaliyetlerden elde edilen kazançlar.
                        </li>
                        <li>
                            Diğer gelirler.
                        </li>
                    </ol>


                    <h2>Derneğin Defter Tutma Esas ve Usulleri ve Tutulacak Defterler</h2>

                    <h4>Madde 14-Defter tutma esasları;</h4>


                    <p>
                        Dernekte, işletme hesabı esasına göre defter tutulur. Ancak, yıllık brüt
                        gelirin Dernekler Yönetmeliğinin 31. Maddesinde belirtilen haddi aşması
                        durumunda takip eden hesap döneminden başlayarak bilanço esasına göre
                        defter tutulur.
                    </p>
                    <p>
                        Bilanço esasına geçilmesi durumunda, üst üste iki hesap döneminde yukarıda
                        belirtilen haddin altına düşülürse, takip eden yıldan itibaren işletme
                        hesabı esasına dönülebilir.
                    </p>
                    <p>
                        Yukarıda belirtilen hadde bağlı kalmaksızın yönetim kurulu kararı ile
                        bilanço esasına göre defter tutulabilir.
                    </p>
                    <p>
                        Derneğin ticari işletmesi açılması durumunda, bu ticari işletme için,
                        ayrıca Vergi Usul Kanunu hükümlerine göre defter tutulur.
                    </p>
                    <h5>Kayıt Usulü</h5>

                    <p>
                        Derneğin defter ve kayıtları Dernekler Yönetmeliğinde belirtilen usul ve
                        esasa uygun olarak tutulur.
                    </p>
                    <h6>Tutulacak Defterler</h6>

                    <p>
                        Dernekte, aşağıda yazılı defterler tutulur.
                    </p>
                    <p>
                        a)İşletme hesabı esasında tutulacak defterler ve uyulacak esaslar aşağıdaki
                        gibidir:
                    </p>
                    <p>
                        1-Karar Defteri: Yönetim kurulu kararları tarih ve numara sırasıyla bu
                        deftere yazılır ve kararların altı toplantıya katılan üyelerce imzalanır.
                    </p>
                    <p>
                        2-Üye Kayıt Defteri: Derneğe üye olarak girenlerin kimlik bilgileri,
                        derneğe giriş ve çıkış tarihleri bu deftere işlenir. Üyelerin ödedikleri
                        giriş ve yıllık aidat miktarları bu deftere işlenebilir.
                    </p>
                    <p>
                        3-Evrak Kayıt Defteri: Gelen ve giden evraklar, tarih ve sıra numarası ile
                        bu deftere kaydedilir. Gelen evrakın asılları ve giden evrakın kopyaları
                        dosyalanır. Elektronik posta yoluyla gelen veya giden evraklar çıktısı
                        alınmak suretiyle saklanır.
                    </p>
                    <p>
                        4-İşletme Hesabı Defteri: Dernek adına alınan gelirler ve yapılan giderler
                        açık ve düzenli olarak bu deftere işlenir.
                    </p>
                    <p>
                        5-Alındı Belgesi Kayıt Defteri: Alındı belgelerinin seri ve sıra
                        numaraları, bu belgeleri alan ve iade edelerin adı, soyadı ve imzaları ile
                        aldıkları ve iade ettikleri tarihler bu deftere işlenir.
                    </p>
                    <p>
                        6-Demirbaş Defteri: Derneğe ait demirbaşların edinme tarihi ve şekli ile
                        kullanıldıkları veya verildikleri yerler ve kullanım sürelerini
                        dolduranların kayıttan düşürülmesi bu deftere işlenir.
                    </p>
                    <p>
                        Alındı Belgesi Kayıt Defteri ile Demirbaş Defterinin tutulması zorunlu
                        değildir.
                    </p>
                    <p>
                        b)Bilanço esasında tutulacak defterler ve uyulacak esaslar aşağıdaki
                        gibidir:
                    </p>
                    <p>
                        1-(a) bendinin 1, 2 ve 3 üncü alt bentlerinde kayıtlı defterler bilanço
                        esasında defter tutulması durumunda da tutulur.
                    </p>
                    <p>
                        2-Yevmiye Defteri ve Büyük Defter: Bu defterlerin tutulma usulü ile kayıt
                        şekli Vergi Usul Kanunu ile bu Kanununun Maliye Bakanlığına verdiği yetkiye
                        istinaden yayımlanan Muhasebe Sistemi Uygulama Genel Tebliğleri esaslarına
                        göre yapılır.
                    </p>
                    <h6>Defterlerin Tasdiki</h6>

                    <p>
                        Dernekte, tutulması zorunlu olan defterler (Büyük Defter hariç), kullanmaya
                        başlamadan önce il dernekler müdürlüğüne veya notere tasdik ettirilir. Bu
                        defterlerin kullanılmasına sayfaları bitene kadar devam edilir ve
                        defterlerin ara tasdiki yapılmaz. Ancak, bilanço esasına göre tutulan
                        Yevmiye Defteri’nin kullanılacağı yıldan önce gelen son ayda, her yıl
                        yeniden tasdik ettirilmesi zorunludur.
                    </p>
                    <h6>Gelir Tablosu ve Bilanço Düzenlenmesi</h6>

                    <p>
                        İşletme hesabı esasına göre kayıt tutulması durumunda yıl sonlarında (31
                        Aralık) (Dernekler Yönetmeliği EK-16’da belirtilen) “İşletme Hesabı
                        Tablosu” düzenlenir. Bilanço esasına göre defter tutulması durumunda ise,
                        yılsonlarında (31 Aralık), Maliye Bakanlığınca yayımlanan Muhasebe Sistemi
                        Uygulama Genel Tebliğlerini esas alarak bilanço ve gelir tablosu
                        düzenlenir.
                    </p>

                    <h3>Derneğin Gelir ve Gider İşlemleri</h3>


                    <h4>Madde 15-Gelir ve gider belgeleri;</h4>


                    <p>
                        Dernek gelirleri, (Dernekler Yönetmeliği EK- 17’de örneği bulunan) “Alındı
                        Belgesi” ile tahsil edilir. Dernek gelirlerinin bankalar aracılığı ile
                        tahsili halinde banka tarafından düzenlenen dekont veya hesap özeti gibi
                        belgeler alındı belgesi yerine geçer.
                    </p>
                    <p>
                        Dernek giderleri ise fatura, perakende satış fişi, serbest meslek makbuzu
                        gibi harcama belgeleri ile yapılır. Ancak derneğin, Gelir Vergisi Kanununun
                        94’üncü maddesi kapsamında bulunan ödemeleri için Vergi Usul Kanunu
                        hükümlerine göre gider pusulası, bu kapsamda da bulunmayan ödemeleri için
                        (Dernekler Yönetmeliği EK-13’te örneği buluna) “Gider Makbuzu” veya “Banka
                        Dekontu” gibi belgeler harcama belgesi olarak kullanılır.
                    </p>
                    <p>
                        Dernek tarafından kişi, kurum veya kuruluşlara yapılacak bedelsiz mal ve
                        hizmet teslimleri (Dernekler Yönetmeliği EK-14’te örneği bulunan) “Ayni
                        Yardım Teslim Belgesi” ile yapılır. Kişi, kurum veya kuruluşlar tarafından
                        derneğe yapılacak bedelsiz mal ve hizmet teslimleri ise (Dernekler
                        Yönetmeliği EK-15’te örneği bulunan) “Ayni Bağış Alındı Belgesi” ile kabul
                        edilir.
                    </p>
                    <p>
                        Bu belgeler; Ek-13, Ek-14 ve Ek-15’te gösterilen biçim ve ebatta,
                        müteselsil seri ve sıra numarası taşıyan, kendinden karbonlu elli asıl ve
                        elli koçan yaprağından meydana gelen ciltler veya elektronik sistemler ve
                        yazı makineleri aracılığıyla yazdırılacak form veya sürekli form şeklinde
                        bastırılır. Form veya sürekli form şeklinde bastırılacak belgelerin,
                        belirtilen nitelikte olması zorunludur.
                    </p>
                    <h6>Alındı Belgeleri</h6>

                    <p>
                        Dernek gelirlerinin tahsilinde kullanılacak “Alındı Belgeleri” (Dernekler
                        Yönetmeliği EK- 17’de gösterilen biçim ve ebatta) yönetim kurulu kararıyla,
                        matbaaya bastırılır.
                    </p>
                    <p>
                        Alındı belgelerinin bastırılması ve kontrolü, matbaadan teslim alınması,
                        deftere kaydedilmesi, eski ve yeni saymanlar arasında devir teslimi ve
                        alındı belgesi ile dernek adına gelir tahsil edecek kişi veya kişiler
                        tarafından bu alındı belgelerinin kullanımına ve toplanılan gelirlerin
                        teslimine ilişkin hususlarda Dernekler Yönetmeliğinin ilgili hükümlerine
                        göre hareket edilir.
                    </p>
                    <h6>Yetki Belgesi</h6>

                    <p>
                        Yönetim kurulu asıl üyeleri hariç, dernek adına gelir tahsil edecek kişi
                        veya kişiler, yetki süresi de belirtilmek suretiyle, yönetim kurulu kararı
                        ile tespit edilir. Gelir tahsil edecek kişilerin açık kimliği, imzası ve
                        fotoğraflarını ihtiva eden (Dernekler Yönetmeliği Ek-19’da yer alan) “Yetki
                        Belgesi” dernek tarafından iki nüsha olarak düzenlenerek, dernek yönetim
                        kurulu başkanınca onaylanır. Yönetim kurulu asıl üyeleri yetki belgesi
                        olmadan gelir tahsil edebilir.
                    </p>
                    <p>
                        Yetki belgelerinin süresi yönetim kurulu tarafından en çok bir yıl olarak
                        belirlenir. Süresi biten yetki belgeleri birinci fıkraya göre yenilenir.
                        Yetki belgesinin süresinin bitmesi veya adına yetki belgesi düzenlenen
                        kişinin görevinden ayrılması, ölümü, işine veya görevine son verilmesi gibi
                        hallerde, verilmiş olan yetki belgelerinin dernek yönetim kuruluna bir
                        hafta içinde teslimi zorunludur. Ayrıca, gelir toplama yetkisi yönetim
                        kurulu kararı ile her zaman iptal edilebilir.”
                    </p>
                    <h6>Gelir ve Gider Belgelerinin Saklama Süresi;</h6>

                    <p>
                        Defterler hariç olmak üzere, dernek tarafından kullanılan alındı belgeleri,
                        harcama belgeleri ve diğer belgeler özel kanunlarda belirtilen süreler
                        saklı kalmak üzere, kaydedildikleri defterlerdeki sayı ve tarih düzenine
                        uygun olarak 5 yıl süreyle saklanır.
                    </p>
                    <p>
                        <h6>Beyanname Verilmesi</h6>
                    </p>
                    <p>
                        <h4>Madde 16-</h4>
                        Derneğin, bir önceki yıla ait faaliyetleri ile gelir ve gider işlemlerinin
                        yıl sonu itibarıyla sonuçlarına ilişkin (Dernekler Yönetmeliği EK-21’de
                        bulunan) “Dernek Beyannamesi” dernek yönetim kurulu tarafından doldurarak,
                        her takvim yılının ilk dört ayı içinde dernek başkanı tarafından mahallin
                        mülki idare amirliğine verilir.

                    </p>

                    <h2>Bildirim Yükümlülüğü </h2>


                    <h4>Madde 17- Mülki amirliğe yapılacak bildirimler;</h4>

                    <h5>Genel Kurul Sonuç Bildirimi</h5>
                    <p>
                        Olağan veya olağanüstü genel kurul toplantılarını izleyen otuz gün içinde,
                        yönetim ve denetim kurulları ile diğer organlara seçilen asıl ve yedek
                        üyeleri içeren (Dernekler Yönetmeliği Ek-3’te yer alan) Genel Kurul Sonuç
                        Bildirimi mülki idare amirliğine verilir. Genel kurul toplantısında tüzük
                        değişikliği yapılması halinde; genel kurul toplantı tutanağı, tüzüğün
                        değişen maddelerinin eski ve yeni şekli, her sayfası yönetim kurulu
                        üyelerinin salt çoğunluğunca imzalanmış dernek tüzüğünün son şekli, bu
                        fıkrada belirtilen süre içinde ve bir yazı ekinde mülki idare amirliğine
                        verilir
                    </p>
                    <h5>Taşınmazların Bildirilmesi</h5>

                    <p>
                        Derneğin edindiği taşınmazlar tapuya tescilinden itibaren otuz gün içinde
                        (Dernekler Yönetmeliği EK-26’da sunulan) “Taşınmaz Mal Bildirimi”ni
                        doldurmak suretiyle mülki idare amirliğine bildirilir.
                    </p>

                    <h5>
                        <i>Yurtdışından Yardım Alma Bildirimi</i>
                    </h5>
                    <p>
                        Dernek tarafından, yurtdışından yardım alınacak olması durumunda yardım
                        alınmadan önce (Dernekler Yönetmeliği EK-4’te belirtilen) “Yurtdışından
                        Yardım Alma Bildirimi” doldurup mülki idare amirliğine bildirimde
                        bulunulur.
                    </p>
                    <p>
                        Nakdi yardımların bankalar aracılığıyla alınması ve kullanılmadan önce
                        bildirim şartının yerine getirilmesi zorunludur.
                    </p>

                    <h5>Değişikliklerin Bildirilmesi</h5>

                    <p>
                        Derneğin yerleşim yerinde meydana gelen değişiklik (Dernekler Yönetmeliği
                        EK-24’te belirtilen) “Yerleşim Yeri Değişiklik Bildirimi”; genel kurul
                        toplantısı dışında dernek organlarında meydana gelen değişiklikler
                        (Dernekler Yönetmeliği EK-25’te belirtilen) “Dernek Organlarındaki
                        Değişiklik Bildirimi” doldurulmak suretiyle, değişikliği izleyen otuz gün
                        içinde mülki idare amirliğine bildirilir.
                    </p>
                    <p>
                        Dernek tüzüğünde yapılan değişiklikler de tüzük değişikliğinin yapıldığı
                        genel kurul toplantısını izleyen otuz gün içinde, genel kurul sonuç
                        bildirimi ekinde mülki idare amirliğine bildirilir.
                    </p>

                    <h3>Temsilcilik Açma</h3>
                    <h4>Madde 18-</h4>
                    <p>

                        Dernek, gerekli gördüğü yerlerde dernek faaliyetlerini yürütmek amacıyla
                        yönetim kurulu kararıyla temsilcilik açabilir. Temsilciliğin adresi,
                        yönetim kurulu kararıyla temsilci olarak görevlendirilen kişi veya kişiler
                        tarafından o yerin mülkî idare amirliğine yazılı olarak bildirilir.
                        Temsilcilik, dernek genel kurulunda temsil edilmez.
                    </p><h3>Derneğin İç Denetimi</h3>
                    <h4>Madde 19-</h4>
                    <p>

                        Dernekte genel kurul, yönetim kurulu veya denetim kurulu tarafından iç
                        denetim yapılabileceği gibi, bağımsız denetim kuruluşlarına da denetim
                        yaptırılabilir. Genel kurul, yönetim kurulu veya bağımsız denetim
                        kuruluşlarınca denetim yapılmış olması, denetim kurulunun yükümlülüğünü
                        ortadan kaldırmaz.
                    </p>
                    <p>
                        Denetim kurulu tarafından en geç yılda bir defa derneğin denetimi
                        gerçekleştirilir. Genel kurul veya yönetim kurulu, gerek görülen hallerde
                        denetim yapabilir veya bağımsız denetim kuruluşlarına denetim yaptırabilir.
                    </p>

                    <h3>Derneğin Borçlanma Usulleri </h3>
                    <h4>Madde 20-</h4>
                    <p>
                        Dernek amacını gerçekleştirmek ve faaliyetlerini yürütebilmek için ihtiyaç
                        duyulması halinde yönetim kurulu kararı ile borçlanma yapabilir. Bu
                        borçlanma kredili mal ve hizmet alımı konularında olabileceği gibi nakit
                        olarak ta yapılabilir. Ancak bu borçlanma, derneğin gelir kaynakları ile
                        karşılanamayacak miktarlarda ve derneği ödeme güçlüğüne düşürecek nitelikte
                        yapılamaz.
                    </p>

                    <h3>Tüzüğün Ne Şekilde Değiştirileceği</h3>
                    <h4>Madde 21-Tüzük değişikliği genel kurul kararı ile yapılabilir.</h4>

                    <p>
                        Genel kurulda tüzük değişikliği yapılabilmesi için genel kurula katılma
                        hakkı bulunan üyelerin 2/3 çoğunluğu aranır. Çoğunluğun sağlanamaması
                        sebebiyle toplantının ertelenmesi durumunda ikinci toplantıda çoğunluk
                        aranmaz. Ancak, bu toplantıya katılan üye sayısı, yönetim ve denetim
                        kurulları üye tam sayısının iki katından az olamaz.
                    </p>
                    <p>
                        Tüzük değişikliği için gerekli olan karar çoğunluğu toplantıya katılan ve
                        oy kullanma hakkı bulunan üyelerin oylarının 2/3’ü’dür. Genel kurulda tüzük
                        değişikliği oylaması açık olarak yapılır.
                    </p>

                    <h3>Derneğin Feshi ve Mal Varlığının Tasfiye Şekli</h3>


                    <h4> Madde 22-Genel kurul, her zaman derneğin feshine karar verebilir.</h4>


                    <p>
                        Genel kurulda fesih konusunun görüşülebilmesi için genel kurula katılma
                        hakkı bulunan üyelerin 2/3 çoğunluğu aranır. Çoğunluğun sağlanamaması
                        sebebiyle toplantının ertelenmesi durumunda ikinci toplantıda çoğunluk
                        aranmaz. Ancak, bu toplantıya katılan üye sayısı, yönetim ve denetim
                        kurulları üye tam sayısının iki katından az olamaz.
                    </p>
                    <p>
                        Fesih kararının alınabilmesi için gerekli olan karar çoğunluğu toplantıya
                        katılan ve oy kullanma hakkı bulunan üyelerin oylarının 2/3’ü’dür. Genel
                        kurulda fesih kararı oylaması açık olarak yapılır.
                    </p><h5>Tasfiye İşlemleri</h5>

                    <p>
                        Genel kurulca fesih kararı verildiğinde, derneğin para, mal ve haklarının
                        tasfiyesi son yönetim kurulu üyelerinden oluşan tasfiye kurulunca yapılır.
                        Bu işlemlere, feshe ilişkin genel kurul kararının alındığı veya
                        kendiliğinden sona erme halinin kesinleştiği tarihten itibaren başlanır.
                        Tasfiye süresi içinde bütün işlemlerde dernek adında “Tasfiye Halinde
                        Yazılım Geliştiricileri Derneği” ibaresi kullanılır.
                    </p>
                    <p>
                        Tasfiye kurulu, mevzuata uygun olarak derneğin para, mal ve haklarının
                        tasfiyesi işlemlerini baştan sonuna kadar tamamlamakla görevli ve
                        yetkilidir. Bu kurul, önce derneğin hesaplarını inceler. İnceleme esnasında
                        derneğe ait defterler, alındı belgeleri, harcama belgeleri, tapu ve banka
                        kayıtları ile diğer belgelerinin tespiti yapılarak varlık ve yükümlülükleri
                        bir tutanağa bağlanır. Tasfiye işlemeleri sırasında derneğin alacaklılarına
                        çağrıda bulunulur ve varsa malları paraya çevrilerek alacaklılara ödenir.
                        Derneğin alacaklı olması durumunda alacaklar tahsil edilir. Alacakların
                        tahsil edilmesi ve borçların ödenmesinden sonra kalan tüm para, mal ve
                        hakları, genel kurulda belirlenen yere devredilir. Genel kurulda,
                        devredilecek yer belirlenmemişse derneğin bulunduğu ildeki amacına en yakın
                        ve fesih edildiği tarihte en fazla üyeye sahip derneğe devredilir.
                    </p>
                    <p>
                        Tasfiyeye ilişkin tüm işlemler tasfiye tutanağında gösterilir ve tasfiye
                        işlemleri, mülki idare amirliklerince haklı bir nedene dayanılarak verilen
                        ek süreler hariç üç ay içinde tamamlanır.
                    </p>
                    <p>
                        Derneğin para, mal ve haklarının tasfiye ve intikal işlemlerinin
                        tamamlanmasını müteakip tasfiye kurulu tarafından durumun yedi gün içinde
                        bir yazı ile dernek merkezinin bulunduğu yerin mülki idare amirliğine
                        bildirilmesi ve bu yazıya tasfiye tutanağının da eklenmesi zorunludur.
                    </p>
                    <p>
                        Derneğin defter ve belgelerini tasfiye kurulu sıfatıyla son yönetim kurulu
                        üyeleri saklamakla görevlidir. Bu görev, bir yönetim kurulu üyesine de
                        verilebilir. Bu defter ve belgelerin saklanma süresi beş yıldır.
                    </p>

                    <h3>Hüküm Eksikliği</h3>
                    <h4>Madde 23</h4>
                    <p>

                        -Bu tüzükte belirtilmemiş hususlarda Dernekler Kanunu, Türk Medeni Kanunu
                        ve bu Kanunlara atfen çıkartılmış olan Dernekler Yönetmeliği ve ilgili
                        diğer mevzuatın dernekler hakkındaki hükümleri uygulanır.
                    </p>
                    <p>
                        <b>Bu tüzük 23 (Yirmiüç) maddeden ibarettir.</b>
                    </p>


                </div>
            </div>
        </div>
    </section>


    @Html.Partial("_fooder")

</div>
