@{
    ViewData["Title"] = "Hakkımızda";
    ViewData["Description"] = "Yazgelder - Yazılım Geliştiricileri Derneği - " + ViewData["Title"];
    ViewData["Date"] = (DateTime.Now.ToString("s")) + "+0300";
    ViewData["image"] = "https://www.yazgelder.org/Images/ShareImage.png";
    ViewData["image:width"] = "1200";
    ViewData["image:height"] = "627";
}

@section Haders{


}

<section id="sub-header-3" data-speed="8" data-type="background" class="padding-top-bottom subheader" style="background-position: 50% 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="breadcrumbs-outer">
                <ul class="breadcrumbs">
                    <li><a href="/" title="Yazılım Geliştiricileri Derneği">Ana Sayfa</a></li>
                    <li><a href="/AboutUs" title="Yazılım Geliştiricileri Derneği Hakkımızda sayfası">Hakkımızda</a></li>
                    <li class="active"> @ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div id="content" class="no-padding">
    <section id="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="/images/MisyonveHedefler.jpg" alt="@ViewData["Description"]" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box">
                        <h2 class="box-title">Misyonumuz</h2>
                        <div class="tiny-border"></div>
                        <p>Ülkemizde yazılıma gönül vermiş herkese destek vererek ülkemizin yazılım alanında gelişmesinde katma değer sağlamak, sektörün ülkemizdeki standartlarının belirlenmesinde rol almak ve sektörümüzü dünyada lider duruma getirmektir.</p>
                        <div class="divider-single"></div>
                    </div>
                    <div class="about-box">
                        <h2 class="box-title">Hedeflerimiz</h2>
                        <div class="tiny-border"></div>
                        <p>Kısa vadede; ülkemizdeki yazılım geliştiricilerin tamamına yakını bir araya getirip sektörün sorunların giderilmesinin sağlanması, ülkemizin rekabet gücünün artırılması.</p>
                        <p>Orta ve uzun vadede üyelerimizin dünya standartlarını yakalamış bir birey olarak çalışma hayatında başarılı bireyler yetiştirmek, ilkokul, ortaokul, ve liselerde yazılım mantığını aşılayacak, sevdirecek projeler ile ülkemize yeni yazılımcılar kazandırarak ülkemizi yazılım alanında dışa bağımlılıktan kurtarmak.</p>
                        <div class="divider-single"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("_fooder")
</div>
