@{
    ViewData["Title"] = "Gizlilik Politikası";
    ViewData["Description"] = "Yazgelder - Yazılım Geliştiricileri Derneği - " + ViewData["Title"];
    ViewData["Date"] = (DateTime.Now.ToString("s")) + "+0300";
    ViewData["image"] = "https://www.yazgelder.org/Images/ShareImage.png";
    ViewData["image:width"] = "1200";
    ViewData["image:height"] = "627";
}
@section Haders{
}

<section id="sub-header-3" data-speed="8" data-type="background" class="padding-top-bottom subheader" style="background-position: 50% 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="breadcrumbs-outer">
                <ul class="breadcrumbs">
                    <li><a href="/" title="Yazılım Geliştiricileri Derneği">Ana Sayfa</a></li>
                    <li><a href="/AboutUs" title="Yazılım Geliştiricileri Derneği - Hakkımızda sayfası">Hakkımızda</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<div id="content" class="no-padding">


    <section id="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="/images/Gizlilik.jpg" alt="@ViewData["Description"]" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box">
                        <h2 class="box-title">Gizlilik Politikası</h2>
                        <div class="tiny-border"></div>
                        <p>Gerektiğinde, sizin ile çevrimiçi veya çevrimdışı irtibata geçebilmek üzere, bize kişisel bilgilerinizi (e–posta adresi, telefon numarası, adres) vermenizi isteyebiliriz. Sağladığınız kişisel bilgiler, diğer şahıslarla paylaşılmaz.</p>
                        <p>Dernek Fahri üyelik formu, Dernek Genel Kurul ön Başvuru Formu, iletişim sayfalarından toplanan veriler kısa süreli verirler olup Dernek Üye Defteri veya Evrak Kayıt defterine işlendiktek sonra silenen verilerdir. Derneğimiz Dijital ortamda Bu bilgilerin güvenliğini sağlamakla yükümlüdür. </p>
                        <p>Websitesi üzerinden toplanan veriler, yalnızca hizmet alabileceğiniz kurum veya kuruluşlarla sözleşme karşılığı paylasılacak, ve bu durumdan haberdar edileceksiniz.</p>
                        <p>Dernek yöntim kurulu ve/veya Dernek Genel kurulu tarafından gizlilik politikası değişkenlik gösterebilir.</p>

                        <div class="divider-single"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @Html.Partial("_fooder")


</div>
