 
<section id="section-cta">
    <div class="sep-background-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cal-to-action text-center">
                    <span><b>Biz burdayiz</b>, Her türlü bilgiye, düşünceye ve  yardıma ihtiyacın olduğunda bir telefon kadar yanınızdayız. Gelin güzel günleri birlikte inşaa edelim.</span>
                    <a href="/member" class="btn btn-border-light" title="Yazılım Geliştiricileri Derneği Üyelik İşlemleri">Üyelik İşlemleri</a>
                </div>
            </div>
        </div>
    </div>
</section>