@model Tag
@{
    Layout = $"~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tag"; 
}

<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="/Admin/Tag/EditOrInsert" method="post" class="wpcf7-form form-horizontal">
                     
                    <fieldset>

                        <legend>@ViewData["Title"]</legend>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="passwordinput">Name</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-md" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="passwordinput">LinkName</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.LinkName, new { @class = "form-control input-md" })
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-md-4 control-label" for=""></label>
                            <div class="col-md-4">
                                <button class="btn btn-success">Kaydet</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

