@model List<News>
@{
    Layout = $"~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Haber Listesi";
    int i = 1;
}



<section id="shopping-cart" class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <a class="btn btn-success" href="/Admin/News/EditOrInsert/@Guid.Empty">Yeni Ekle</a>
            </div>
        </div>
             <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>
                            <th scope="col">IsDraft</th>
                            <th scope="col">Fonsiyonlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.Title </td>
                            <td>@item.Type</td>
                            <td>@item.IsDraft </td>
                            <td>
                                <a class="btn btn-warning" href="/Admin/News/EditOrInsert/@item.Id">Düzenle</a>
                                <a class="btn btn-danger" onclick="return confirm('Emin misin?')" href="/Admin/News/Delete/@item.Id">Sil</a>
                            </td>
                        </tr>
                            i++;
                        }
                     
                    </tbody>
                </table>
            </div> 
    
        </div>
    
    </div>
</section>
